
hr{
	border-top: 1px;
}
h1{
text-align: center;
color: #48686F;

}
h2{
	color: #6D6863;
}
h3{
	color: #606060;
	margin-bottom: 20px;
}
ul{
	padding: 0px;
}
input{
margin-top: 15%;
margin-left: 15%;
}
body{
	background-color: #f8f8f8;
}      
html, 
body {
height: 100%;
margin: 0;
padding: 0;
}
nav{
	max-height: 100%;
}
.container{
margin: auto;
overflow: scroll;
}
#map {        
height: 100%;
width: auto;

}
#test{
margin-left: 20%;
float: left;
height: 75%;
width: 200px;
}
#loc:hover {
background-color: gray;
}
#myNavbar{
	padding: 0px;
}
#header{
	background-color: #45494A;
}
#selecttitle{
	float:left;
	margin-right: 50%; 
}
#select{
	float: right;
}
#search-input{
	float:left;
	margin:0px;
}
